body {
    background-color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.pages {
    flex-basis: auto;
    flex-shrink: 5;
    flex-grow: 0.5;
    align-self: flex-end;
    margin: 20px 10px 0 0;
}

a {
    margin: 15px; 
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.center { 
    flex: 2;
}

.logo {
    height: 92px;
    width: 272px;
}


.search_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    margin:0px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input {
    padding:7px; 
}

.inputSearch {
    background-color: transparent;    
    margin: 20px;
    font-size: 18px;
    word-wrap: break-word;
    outline: none;
    width: 500px;
    padding: 6px;
    padding-left: 14px;
    overflow-y: hidden;
    height:28px;
    border:1px solid #DFE1E5;
    border-radius:50px;
}

.inputSearch:hover {
    box-shadow: 0 0 10px 0px #DFE1E5;
}

.button {    
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    color: black;
    border: 0.5px solid black;
}

.button:active {
    border: 0.5px solid blue;
}

.logoContainer {
    display:flex;
    flex-direction: column;

}

.logoSubtext {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    align-self: flex-end;
}