body {
    background-color: #fff;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

.content {
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #f1f1f1;
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
}

.headerLogo {
    height: 33px;
    width: 92px;
    align-self: center;
    margin-left: 20px;
}

.link {
    margin: 15px;
}

.pages {
    display: flex;
    align-self: flex-end;
    flex-basis: auto;
    flex-shrink: 5;
    flex-grow: 0.35;
    margin: 5px 10px 0 0;
}

a {
    align-self: flex-start;
    margin: 15px; 
    text-decoration: none;
}

a:visited {
    color: black;
}

a:hover {
    text-decoration: underline;
}

.center { 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 2;
}

.logo {
    height: 92px;
    width: 272px;
}

.title {
    color: #d93025;
    font-size: 20px;
    margin: 25px 35px;
}

.dividerLine {
    border-bottom: 1px solid #ebebeb;
}

.search_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    margin:0px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.input {
    padding:7px; 
    display: flex;
}

.inputSearch {
    background-color: transparent;    
    margin: 20px;
    font-size: 18px;
    word-wrap: break-word;
    outline: none;
    width: 500px;
    padding: 6px;
    padding-left: 14px;
    overflow-y: hidden;
    height:28px;
    border:1px solid #DFE1E5;
    border-radius:50px;
}

.inputSearch:hover {
    box-shadow: 0 0 10px 0px #DFE1E5;
}

.button {    
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    color: black;
    border: 0.5px solid black;
}

.button:active {
    border: 0.5px solid blue;
}

.logoContainer {
    display:flex;
    flex-direction: column;

}

.logoSubtext {
    color: #4285f4;
    font: 16px/16px roboto-regular, arial, sans-serif;
    align-self: flex-end;
}

.advancedInput {
    border-radius: 1px;
    border: 1px solid #d9d9d9;
    border-top: 1px solid #c0c0c0;
    font-size: 13px;
    height: 25px;
    padding: 1px 8px;
    width: 100%;
    text-align: left;
}   

.advancedInput:focus {
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.3);
    border: 1px solid #4d90fe;
    outline: none;
}

.advancedSearch_block {
    max-width: 1140px;
    min-width: 200px;
    width: 96%;
    margin: 40px 2% 0 45px;
    flex: 1;
}

label {

    min-width: 167px;
    width: 16%;
    height: 42px;
    color: #222;
    font-size: 13px;
    line-height: 16px;
}

.title2 {
    align-self: flex-start;
    font-size: 16px;
}

.advancedSearch_block .input {
    align-self: flex-start;
    display: flex;
    width: 500px;
}

.advancedButton {
    align-items: flex-start;
    background-color: #4787ed;
    border: 1px solid #3079ed;
    color: #fff;
    border-radius: 2px;
    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    margin-right: 16px;
    height: 27px;
    padding: 0 8px;
}

.advancedButton:active {
    box-shadow: none;
    background-color: #4d90fe;
    background-image: -webkit-linear-gradient(top,#4d90fe,#4787ed);
}

.inputEx {
    color: #555;
    font-size: 11px;
}